* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr: #ffffff;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
    padding-left: 50px; 
}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuToggle {
    position: relative;
    width: 100px;
    height: 100px;
    background: #28e0ce;
    border: 5px solid var(--clr);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-bottom: 30px;
    transform: rotate(90deg);

}

.menuToggleCheckbox {
    display: none;
}

.menuToggleCheckbox:checked ~ .menu {
    height: 560px;
    width: 70px;
    border-radius: 10px;
}

.menuToggleCheckbox:checked ~ .menu ul {
    opacity: 1;
}

.big-icon {
    font-size: 40px;
    transition: transform 0.5s;
}

.menuToggle:hover .big-icon {
    transform: rotate(180deg);
}

.menu {
    position: absolute;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 70px;
    transition: height 0.5s, width 0.5s, border-radius 0.5s;
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;  /* add space at the top */
    gap: 35px;
    opacity: 0;
    transition: opacity 0.5s;
}

.menu ul li {
    list-style: none;
    cursor: pointer;
}

.menu ul li a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: #555;
    text-align: center;
}

.right-align {
    margin-top: 80px;  /* increase as needed */
}

.menu ul li:hover a {
    color: #9e30e8;
}

.menuToggle i {
    position: absolute;
    inset: 0;
}

.menuToggle i::before {
    content: '';
    position: absolute;
    top: 40px;
    left: -23px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 3px -6px var(--clr);
}

.menuToggle i::after {
    content: '';
    position: absolute;
    top: 40px;
    right: -23px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -3px -6px var(--clr);
}
